@import url(fonts/stylesheet.css);

* {
	/*font-size : 16px;*/
	line-height : 1.5;
	}

body {
	/*background-color: cadetblue;*/
	background-color : #191927;;
	font-family      : Rubik, sans-serif;
	color            : #c9c9b9;
	}

a {
	text-decoration : none;
	color           : inherit;
	
	}

a:hover {
	/*text-decoration: underline;*/
	color      : yellow;
	/*transform  : scale(1.2);*/
	transition : all ease-in-out .3s;
	}

ul {
	margin : 0 0 1em;
	}

li:hover {
	/*transform  : scale(1.1);*/
	transition : all ease-in-out .3s;
	/*margin: 1em 0;*/
	}

.wrapper {
	max-width     : 90em;
	padding       : 0 .5em;
	margin-inline : auto;
	overflow      : hidden;
	}

.menu_mobile {
	display     : flex;
	align-items : center;
	}

.menu-burger {
	/*display: inline-flex;*/
	width       : 50px;
	margin-left : auto;
	}

.menu-burger img {
	display : block;
	width   : 100%;
	}

@media (min-width : 845px) {
	.menu-burger img {
		display : none;
		}
	
	.header {
		display : block;
		}
	}

/*уберем меню при мобилке*/

.header {
	/*width : 0;*/
	display : none;
	}

.header.open {
	position         : fixed;
	left             : 0;
	top              : 0;
	min-width        : 100%;
	height           : 100vh;
	/*overflow         : scroll;*/
	display          : flex;
	justify-content  : center;
	align-items      : center;
	background-color : #708090e8;
	}

.cloced {
	display : none;
	}

.header.open .cloced {
	display             : inline-block;
	width               : 47px;
	height              : 47px;
	background-image    : url(image/free-icon-close-button-3686960.png);
	background-size     : cover;
	background-repeat   : no-repeat;
	background-position : center;
	position            : fixed;
	right               : 17px;
	top                 : 55px;
	}

.header.open li {
	margin : 14px 0;
	}

@media (max-height : 780px) {
	.header.open nav {
		position   : relative;
		max-height : 89vh;
		overflow   : scroll;
		padding    : 1em;
		}
	}


.for,
.logo-prefix {
	color     : #c9c9b9;
	font-size : 2rem;
	}

.header__logo {
	/*display : inline-flex;*/
	font-family : Ubuntu, sans-serif;
	color       : yellow;
	font-size   : 3em;
	}

.wrapper > *,
.main-page > * {
	/*border: 1px crimson dashed;*/
	}

.main-page {
	display : flex;
	}

.main {
	flex : 1 1 auto;
	}

/*карточки товаров*/
.cards {
	display: grid;
	grid-gap: 1em;
	grid-template-rows: 200px 200px;
	grid-template-columns: 200px 200px;
	
	}

.cards-item {
	
	}


/*.cards {*/
/*	display: grid;*/
/*	}*/
/*.cards-item{*/
/*	display: inline-block;*/
/*	min-width : 390px;*/
/*	}*/

/*@media (min-width : 480px) {*/
/*	.cards-item {*/
/*	min-width : 390px;*/
/*		}*/
/*	}*/
/*@media (min-width : 760px) {*/
/*	.cards-item {*/
/*	min-width : 390px;*/
/*		}*/
/*	}*/
/*@media (min-width : 1200px) {*/
/*	.cards-item {*/
/*	min-width : 390px;*/
/*		}*/
/*	}*/


.cards__picture {
	max-width : 100%;
	}

.cards__picture img {
	width : 100%;
	}